<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="../css/bases/reset.css" />
        <link rel="stylesheet" href="../css/bases/style.css" />
        <link rel="stylesheet" href="../css/components/header.css" />
        <link rel="stylesheet" href="../css/components/animation/face.css" />
        <link rel="stylesheet" href="../css/components/animation/eyes.css" />
        <link rel="stylesheet" href="../css/components/animation/mouth.css" />
        <link rel="stylesheet" href="../css/components/animation/button.css" />
        <link rel="stylesheet" href="../css/components/footer.css" />
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">Veterinaria Turrialba</h1>
            <nav class="navbar">
                <ul class="navbar-menu">
                    <li class="menu-item"><a href="../index.html" class="item-link">Inicio</a></li>
                    <li class="menu-item"><a href="./login.html" class="item-link">Inicio de sesión</a></li>
                    <li class="menu-item"><a href="#" class="item-link">Animación</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <div class="content">
                <div class="face">
                    <div class="eyes">
                        <div class="eye"></div>
                        <div class="eye"></div>
                    </div>
                    <div class="mouth"></div>
                </div>
                <div id="buttons" class="buttons">
                    <div class="button-slide slide-down">BUTTON SLIDE DOWN</div>
                    <br /><br /><br />
                    <div class="button-slide slide-right">BUTTON SLIDE RIGHT</div>
                    <br /><br /><br />
                    <div class="button-slide slide-left">BUTTON SLIDE LEFT</div>
                    <br /><br /><br />
                    <div class="button-slide slide-diagonal">BUTTON SLIDE DIAGONAL</div>
                    <br /><br /><br />
                </div>
            </div>
        </main>
        <footer class="footer">
            <p>Siguenos en redes sociales</p>
            <div>
                <a href="">Github</a>
            </div>
            <span class="copyright">&copy; Derechos de autor 2024</span>
        </footer>
    </body>
</html>
