<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Productos</title>
        <link rel="stylesheet" href="../css/bases/reset.css" />
        <link rel="stylesheet" href="../css/bases/style.css" />
        <link rel="stylesheet" href="../css/components/header.css" />
        <link rel="stylesheet" href="../css/components/footer.css" />
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">Veterinaria Turrialba</h1>
            <nav class="navbar">
                <ul class="navbar-menu">
                    <li class="menu-item"><a href="../index.html" class="item-link">Inicio</a></li>
                    <li class="menu-item"><a href="./login.html" class="item-link">Inicio de sesión</a></li>
                    <li class="menu-item"><a href="./animation.html" class="item-link">Animación</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <h1>Productos</h1>
            <a href="../index.html">Volver</a>
        </main>
        <footer class="footer">
            <p>Siguenos en redes sociales</p>
            <a href="">Github</a>
            <span class="copyright">&copy; Derechos de autor 2024</span>
        </footer>
    </body>
</html>
