<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/bases/reset.css" />
        <link rel="stylesheet" href="../css/bases/style.css" />
        <link rel="stylesheet" href="../css/components/header.css" />
        <link rel="stylesheet" href="../css/components/article.css" />
        <link rel="stylesheet" href="../css/components/footer.css" />
    </head>
    <body>
        <h1>Promodiones</h1>
        <a href="../index.html">Volver</a>
    </body>
</html>
