.mouth {
    position: absolute;
    left: 20%;
    bottom: 20%;
    width: 60%;
    height: 20%;
    background-color: transparent;
    border: 0.1875rem solid black;
    border-top: none;
    border-radius: 0 0 50% 50%;
}

@keyframes smile {
    0% {
        transform: translateY(0) rotate(-5deg);
    }
    100% {
        transform: translateY(0.3125rem) rotate(5deg);
    }
}
