.header {
    padding: 0.5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--background-color-header);
}

.header-title {
    font-size: 1.7rem;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
}

.menu-item {
    transition: scale 300ms ease-in-out, font-weight 300ms ease-in-out, opacity 300ms ease-in-out;
}

.menu-item:hover {
    scale: 1.05;
    font-weight: bold;
    opacity: 0.9;
}

.item-link {
    color: var(--white-color);
}

@media screen and (max-width: 900px) {
    .header {
        padding: 0.2rem 0.5rem;
    }
}
